<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <MaxCpuCount>1</MaxCpuCount>
    <DisableAppDomain>false</DisableAppDomain>
    <DisableParallelization>true</DisableParallelization>
    <!-- Use option 2: TestAdaptersPaths for local development -->
    <TestAdaptersPaths>.</TestAdaptersPaths>
    <InIsolation>false</InIsolation>
  </RunConfiguration>
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="console" enabled="True">
        <Configuration>
          <Verbosity>detailed</Verbosity>
        </Configuration>
      </Logger>
    </Loggers>
  </LoggerRunSettings>
</RunSettings>